/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header__logo {
        margin-left: 8rem;
    }

    .header__menu {
        margin-right: 8rem;
    }

    .header__menu ul {
        width: 90%; 
        max-width: 960px;
    }

    .intro__content {
        margin-left: 10rem;
        margin-top: 6rem;
    }

    /* CATALOG BEGIN */

    .catalog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catalog__wrapper {
        /* catalog__item * 3 */
        width: 1302px;

        justify-content: center;
        margin-left: 0;

        background-image: url('/images/catalog-chiken-lg.png');
        background-repeat: no-repeat;
        background-size: 34%;
        background-position-x: 162px;
        background-position-y: -3px;
    }
    
    .catalog__items {
        /* catalog__item * 2 + catalog__item / 2*/
        height: 1100px;
    }
    
    .catalog__item {
        width: 434px;
        height: 434px;
    }
    
    .catalog__item_indent {
        /* catalog__item / 2 */
        margin-top: 217px;
    }
    
    .catalog__item_pulled {
        /* ~ 80% catalog__item_indent */
        margin-left: -170px;
    }
    
    .catalog__item img {
        width: 434px;
        height: 434px;
    }
    
    .catalog__overlay {
        height: 307px;
        width: 307px;
    }
    
    .catalog__item p {
        font-size: 1.1rem;
    }

    /* CATALOG END */

    /* CALLBACK BEGIN */

    .callback {
        background-image: url('../images/callback-background.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        height: 632px;
    }

    .callback__container {
        position: relative;
        top: -30px;

        max-width: 958px;
        /* callback.height + callback__container.top * (-2) */
        height: 692px;
        margin: 0 auto;

        font-size: 1.5rem;

        background-color: #E5E5E5;
        color: #000000;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .callback__container h3 {
        color: #000000;
    }

    .callback__form {
        max-width: 532px;
        margin: 0 auto;
    }

    .callback label {
        font-size: 1.1rem;
    }

    .callback__btn_send {
        font-size: 1.3rem;
    }

    /* CALLBACK END */

    .map {
        margin-top: 8em;
    }

    .footer {
        font-size: 1.3rem;
        padding-top: 3em;
    }

    .footer__nav li {
        margin-top: 0.9em;
    }

}