ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden; 
}

h2 {
    font-size: 1.5rem;
    color: #8D8D8D;
    padding: 1em 2rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.035em;
    text-align: center;
    margin-bottom: 0;
}

/* BUTTON BEGIN */

.btn-green {
    background-color: #B2F23C;
    border-color: #B2F23C;
    color: #333;
}

.btn-green:hover {
    background-color: rgb(150, 204, 51);
    border-color: rgb(150, 204, 51);
}

.btn-green:active {
    background-color: rgb(114, 155, 38) !important;
    border-color: rgb(114, 155, 38) !important;
    box-shadow: 0 0 0 0.2rem rgba(114, 155, 38, .5) !important;
}

.btn-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(150, 204, 51,.5);
}

/* BUTTON END */

/* HEADER BEGIN */

.header__menu a {
    text-transform: uppercase;
}

/* HEADER END */

/* INTRO BEGIN */

.intro {
    display: flex;
    height: calc(100vh - 92px);
    padding: 0 2rem;
}

.intro__video {
    position: absolute;
    width: 100%;
    height: calc(100vh - 92px);
    overflow: hidden;
    left: 0;
}

.intro__video video {
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.intro__overlay {
    position: absolute;
    height: calc(100vh - 92px);
    width: 100vw;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.intro__content {
    z-index: 2;
    max-width: 768px;
}

.intro__content p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #FFF;
    margin: 1em 0;
}

.intro__content span {
    color: #B2F23C;
    font-weight: bold;
}

/* INTRO END */

/* ABOUT US BEGIN */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 3.5em 0.5rem;
    font-size: 1.1rem;
}

.about__line {
    border-left: 2px solid #8D8D8D;
    height: 3.5em;
}

.about__content {
    color: #383838;
    text-align: center;
    max-width: 836px;
    letter-spacing: 0.035em;
    font-size: 1.1rem;
}

/* ABOUT US END */

/* CATALOG BEGIN */

.catalog {
    overflow-x: hidden; 
}

.catalog__wrapper {
    display: flex;
    justify-content: center;
    margin-left: -130px;
}

.catalog__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    
    /* catalog__item * 2 + catalog__item / 2*/
    height: 750px;
}

.catalog__item {
    width: 250px;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__item_indent {
    /* catalog__item / 2 */
    margin-top: 125px;
}

.catalog__item_pulled {
    /* ~ 80% catalog__item_indent */
    margin-left: -119px;
}

.catalog__item img {
    position: absolute;
    width: 250px;
    height: 250px;
}

.catalog__overlay {
    position: absolute;
    z-index: 1;

    height: 177px;
    width: 177px;

    background-color: #000;
    opacity: 0.5;

    transform: rotate(45deg);
}

.catalog__overlay:hover {
    cursor: pointer;
    opacity: 0.1;
}

.catalog__item p:hover + .catalog__overlay {
    opacity: 0.1;
}

.catalog__item p {
    z-index: 2;
    max-width: 200px;
    margin: 0;

    text-align: center;
    letter-spacing: 0.035em;
    line-height: 1;
    font-size: 1rem;
    color: #FFF;
    text-transform: uppercase;

    cursor: pointer;
}

/* CATALOG END */