/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h2 {
        font-size: 2rem;
    }
    
    .intro__content p {
        font-size: 2rem;
    }

    .intro__video video {
        background-image: url("/images/intro/soybean-harvest-M.jpg");
    }

    .about {
        font-size: 1.5rem;
    }

    .callback__container {
        font-size: 1.1rem;
    }

    .footer {
        padding: 2em 3rem 1em;
    }
}